*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    background: #c4ffe2;
    display: flex;

}

#menu{
    background-color: #111827;
    height: 100%;
    width: 300px;
   position: fixed;
   top: 0;
   left: 0;
}
#menu .logo{
   display: flex;
   align-items: center;
   color: aliceblue;
   padding: 30px 0 0 30px;
  
   
}

#menu .logo img{
    padding-right: 15px;
}

#menu .items{
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s;
}
#menu .items li i{
    color: aquamarine;

    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 19px;
    margin: 0 10px 0 25px;
}
#menu .items li a{
    text-decoration: none;
    color: rgb(252, 250, 248);
    font-size: 19px;
}

#menu .items li:hover{
    background: #253047;
    cursor:pointer;

}
#menu .items li:hover i,
#menu .items li:hover a{
      color:#56f4ff;
}
#menu .items li a{
    color: #d2dbf6;
    font-weight: 300px;
    transition: 0.3s;
}

#menu .items li:nth-child(4){
    border-left: 4px solid #fff;
}

.main{
  width: 100%;
  position: relative;
  

}
.main .nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background: rgb(57, 181, 197);
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
   width: 100%;


}

.main .nav .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border:1px solid #33363c;
    border-radius: 4px ;
    background: #67e3ec;
}

.main .nav .search input{
    border: none;
    outline: none;
    font-size: 14px;
    background:  #67e3ec;
}

.main .nav .search i{
    margin-right: 14px;
}

.main .nav .p1{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.main .nav .p1 i{
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}

.main .nav .profile img{
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
}



table{
    width: 100%;
    border-collapse:collapse;
   
}

tr{
    border-bottom: 1px solid rgb(187, 187, 188);
   
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px;
    color: #ededed;
}

thead{
    background: #433a4d;
}
tbody tr td{
    padding: 10px 15px;
}

.board{
    width: 94%;
    margin:120px 30px 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
   
}

.board td{
    font-size: 600;
    font-size: 17px;
    text-align: center;
    
}

#menu-btn{
    display: none;
}



@media(max-width:810px){
    #menu{
       
        width: 270px;
        position: fixed;
        left:-270px;
        transition: 0.3s;
       
    }

    #menu-btn{
        display: inherit;
    }
    #menu.active{
        left:0px;
    }
    #menu.active ~ .main{
        width:calc(100% - 270px);
        margin-left: 270px;
       transition: 0.3s;
    }
    .main{
        width:100%;
       display: inline-block;
        margin-left: 0px;
        transition: 0.3s;
      
      }

      .main .nav {
        width: 100%;
}

.values{
    padding: 30px 30px 0 30px;
    
    justify-content: flex-start;
   
}
.values .val-box {
    
    padding: 16px 20px;
   margin: 10px 20px 10px 0;
}
.board{
    width: 90%;
   padding: 0;
    overflow: auto;
   
   
}
table{
    width: 100%;
    border-collapse: collapse;
}
.values .val-box{
       
    width: 310px;
    padding: 20px 20px;
   
}

}



@media(max-width:470px){
   
    .main .nav{
        
        padding: 15px ;
       
    }

    .main .nav .search{
        
        padding: 10px 9px;
       
    }
    .values .val-box{
       
        width: 330px;
        padding: 20px 20px;
       
    }
    .board{  
        margin:120px 30px 20px 20px;

    }
    

}


.home3{
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 1rem;

}

.admin{
   
    padding-bottom :2rem ;
    font-size:large;
    font-weight: 600;
   color: #111827;
}